{% extends "layout/base.html" %}
{% block main_content %}
    {% load static %}
    <style>

.p{
    display: inline;
    width: 100px;
    font-size:50px;
    height: 100px;
    
}
 
        .hader{
            border: 1px solid ;
            margin:  0px;
            padding: 30px 0 0 0;
            height: 100px;
            background-color: rgb(48, 41, 41);
            size: 50px;
            text-align:right;
            box-shadow: 0px 15px 20px rgba(0, 0,0, 1); ;
        }
     header a{
        text-decoration:none;
        text-shadow: 2px;
        font-size: 40px;
        margin: 30px 20px 0px 0px;
        padding: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #0a6a9e;
        margin-top: 550px;
        margin-right: 550px;
        }
        .hader a:hover{
            text-decoration: underline;
        }
        .paper2{
            text-align: center;
            color: #fff;
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
            margin-top: 20px;
            width: 380px;
   background: rgb(50, 36, 36);
   border-radius: 15px;
   box-shadow: 0px 15px 20px rgba(0, 0,0, 1);
   border: solid; 
        }
        .paper{
        
            width: 380px;
   background: #fff;
   border-radius: 15px;
   box-shadow: 0px 15px 20px rgba(0, 0,0, 1);
   border: solid;
        }
        
      input{
        margin-top: 8px;
        display: block; 
        padding: 10px;
   font-size:17px ;
   padding-left: 20px;
   border-radius: 25px; 
   border: 1px solid lightgrey;    
    }
body{
    margin: 0px;
    padding: 0px;
    
}
table{
    width: 100%;
    height: 50px;
    border: ridge;
    background-color: #fff;
    text-align: right;
    margin-right: 20px;
    font-size: 36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; ;
}
.table{
    width: 99%;
    margin-right: 200px;
    margin-top: 20px;
}

.foder{
    background-color: beige;
    box-shadow: 0px 15px 20px rgba(0, 0,0, 1);
    height: 150px;
    margin-top:85px ;
    font-size: 36px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

 .ppfoder{

    background-color: beige;
    box-shadow: 0px 15px 20px rgba(0, 0,0, 1);
    height: 150px;
    margin-top:255px ;
    font-size: 36px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;




 }
.viewfoder{ 
    background-color: beige;
 box-shadow: 0px 15px 20px rgba(0, 0,0, 1);
 height: 200px;
 margin-top:250px ;
 font-size: 36px;
 text-align: center;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.paper3{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    margin-top: 100px;
    width: 380px;
background: rgb(50, 36, 36);
border-radius: 15px;
box-shadow: 0px 15px 20px rgba(0, 0,0, 1);
border: solid; 
}
.image{
    width: 500px;
    height: 200px;
    margin-top:500px ;
    
}

    </style>
    
                    {% if messages %}
                        
                            {% for message in messages %}
                                
                                    {{ message|safe }}
                                
                            {% endfor %}
                    
                    {% endif %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
                                
                                   
                                    <a href="/detectWithWebcam" class="cam"
                                    style="      
                                        background-color: rgb(8, 48, 165);
                                        border: solid rgb(50, 16, 16) 5px ;
                                        text-decoration:none;
                                        text-shadow: 2px;
                                        font-size: 40px;
                                        margin: 30px 20px 0px 0px;
                                        padding: auto;
                                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                        color: #ffffff;
                                        margin-top: 550px;
                                        margin-right: 550px;
                                        "
                                    
                                    >اضغط هنا لتشغيل الكامبرا </a><br>
                             
         
{% endblock %}
{% block js_content %}
    <script src="{% static  'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
{% endblock %}